body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
	height: auto;
  display: flex;
	flex-direction: column;
	/* align-items: center; */
	background-color: #f1f1f1;
	
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
a{
  text-decoration: none;
}
h4{
  font-weight: 400;
}
.padding_top_3rem{
  padding-top: 3rem!important;
}
p{
  min-height: 25px;
  height: auto;
}
@media all and (max-width: 480px){
  p{
    font-size: 0.8rem;
  }
}
  
  
 

body{
  --primary:black;
  
  --card_1_bg: #ffafbf;
  --card_2_bg: #ff708d;
  --card_3_bg: #ff5274;
  --card_4_bg: #fd244f;
  --card_4_bg: #fd244f;
  --DD_title_bg: rgb(179, 160, 146);
  --DD_title_bg: rgb(198, 182, 171);
  --DD_title_bg: #d8d1c8;
  --DD_title_bg: #e7e7e7;
  --DD_content_bg: rgb(238, 232, 227);
  --DD_content_bg: #e3ded6;
  --DD_content_bg: #fff;
  --input_focus: rgb(124, 220, 253);
  --btn_bg: #30c430df;
  --btn_bg_hover: #24db24;
  
}
  
 
