*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_page {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: auto;
  align-items: center;
  margin: 0;
}
@font-face {
  font-family: "Titre_H1";
  src: url(assets/fonts/BeauRivage-Regular.ttf);
}
@font-face {
  font-family: "Great_vibes";
  src: url(assets/fonts/GreatVibes-Regular.otf);
}
.container_header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  height: 70px;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-bottom: 70px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-image: url(assets/images-ext/entree_chateau.jpg);
  background-size: cover;
  background-position: center;
  height: 370px;
  width: 95%;
  /* margin-left: 2.5%; */
  position: relative;
  top: 70px;
  margin-bottom: 70px;
}
.bg-header {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.01)
  );
  z-index: 1;
}
.separateur_1 {
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 20px;
}
.titre {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
}
.titre img {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  z-index: 5;
}
h1 {
  font-family: "Titre_H1", "Great_vibes";
  font-size: 5em;
  margin: 0;
  margin-left: 20px;
  color: rgb(210, 210, 210);
  text-shadow: 3px 3px 8px black;
  z-index: 5;
}
#header h2 {
  font-family: arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: rgba(210, 210, 210, 0.9);
  z-index: 5;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  padding: 0 20px;
  font-family: none;
}
.menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgb(210, 210, 210);
  transition: width 0.5s;
  margin: 0 auto;
}
.menu a:hover::after {
  width: 100%;
}
header p {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(210, 210, 210);
  font-size: 1.5em;
  font-family: "Titre_H1", "Great_vibes", oblique;
}
.shopping-cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px !important;
  background-color: #f1f1f1;
}

.shopping-cart {
  width: 16px;
  height: 18px;
  background-color: #f1f1f1;
}

/*-------header-nav---media------*/

@media screen and (max-width: 1380px) {
  .menu a {
    font-size: 1.4em;
    padding: 10px;
  }
  header p {
    left: 20px;
    font-size: 1em;
  }
  header h2 {
    font-size: 1.5em;
    bottom: 90px;
  }
  .shopping-cart-link {
    margin: 0 0 0 20px;
  }
}
@media screen and (max-width: 1120px) {
  .menu a {
    font-size: 1.3em;
  }
  .titre h1 {
    font-size: 4em;
  }
  header h2 {
    font-size: 1.3em;
    bottom: 110px;
  }

  .titre img {
    width: 55px;
    height: 55px;
  }
}
@media screen and (max-width: 1000px) {
  .menu a {
    font-size: 1.1em;
  }
  .titre h1 {
    font-size: 3.5em;
  }
  .titre img {
    width: 45px;
    height: 45px;
  }
  header h2 {
    font-size: 1.2em;
    bottom: 115px;
  }
  header p {
    font-size: 1em;
    top: 10px;
    left: 10px;
  }
}
@media screen and (max-width: 760px) {
  nav {
    background: #333;
    position: relative;
    width: 100%;
    margin-bottom: 0;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }
  .titre h1 {
    font-size: 3em;
  }

  header {
    top: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  header h2 {
    bottom: 120px;
    font-size: 1.1em;
  }
  header p {
    font-size: 1em;
    top: 5px;
    left: 5px;
  }

  nav {
    height: auto;
  }
  .menu {
    padding: 10px 0;
  }
  .menu a {
    padding: 10px;
  }

  .video_chateau {
    margin: 0;
  }
  .shopping-cart-link {
    margin: 10px 0 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .titre h1 {
    font-size: 2.5em;
    padding-left: 0px;
    margin-left: 10px;
  }
  header h2 {
    font-size: 16px;
  }
  header p {
    font-size: 10px;
    top: 3px;
  }
  .titre img {
    width: 30px;
    height: 30px;
    margin-top: 0px;
  }
  header h2 {
    font-size: 1em;
    bottom: 130px;
  }
}
@media screen and (max-width: 460px) {
  .titre h1 {
    font-size: 1.8em;
  }
  .menu a {
    padding: 5px;
    font-size: 16px;
  }
  .shopping-cart-link {
    margin: 10px 0 0 0;
  }
}

/*---------------sites---------------*/
#sites {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
  width: 100%;
  height: auto;
}
.container_sites {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  max-width: 700px;
  height: 460px;
  margin-left: 40px;
  margin-right: auto;
  margin-bottom: 15px;
}
.video_chateau {
  display: flex;
  width: 40%;
  height: 440px;
  margin: 60px auto 20px;
}

#video_chateau {
  width: 714px;
  height: 440px;
  border: none;
  box-shadow: 3px 3px 7px black;
}

#sites h2 {
  font-family: "Titre_H1", "Great_vibes", oblique;
  width: 100%;
  color: #f1f1f1;
  text-align: center;
  font-size: 3em;
  text-shadow: 0px 0px 9px black;
  margin: 0px 0 15px 0;
  padding-top: 0;
}
.titre_sites {
  position: relative;
  justify-content: center;
  width: 320px;
  height: 180px;
  margin: 20px 20px 0 0;
  box-shadow: 0 0 10px black;
  transition: 0.4s;
  border-radius: 5px;
}
.titre_sites:hover {
  box-shadow: 0 0 20px black;
}
.titre_sites a {
  width: 100%;
  height: 100%;
  /* margin: 0 10px; */
  display: flex;
  flex-direction: column;
}
.titre_sites a img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#sites h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  height: 20%;
  font-style: italic;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(3, 3, 3, 0.9));
  color: #f1f1f1;
  font-weight: 400;
}

@media screen and (max-width: 1280px) {
  .titre_sites h3 {
    font-size: 1em;
  }
  #sites h2 {
    font-size: 2.5em;
  }
  #sites {
    flex-direction: column;
    margin: 0;
  }
  .video_chateau {
    width: 100%;
    /* align-items: center; */
    margin: none;
    /* margin:0 auto; */
  }
  #video_chateau {
    width: 100%;
    height: 480px;
  }
  .container_sites {
    width: 100%;
    justify-content: center;
    margin: 0;
    height: auto;
  }
}

@media screen and (max-width: 740px) {
  .container_sites {
    height: auto;
  }
}

/*-------parallax---------------*/

#parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-image: url(assets/images_int/int_6_parallax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*---------------------ACCEUIL------------------------*/
#article_accueil {
  margin: 30px 0;
  display: flex;
  width: 100%;
  height: auto;
  /* padding-bottom: 30px; */
}
#introduction h2 {
  text-align: center;
  font-family: "Titre_H1", "Great_vibes", oblique;
  font-size: 4em;
  padding-top: 30px;
}
#introduction h3 {
  text-align: center;
  font-family: arial, sans-serif;
  font-style: italic;
  font-size: 2em;
  margin-bottom: 30px;
}
#article_accueil article {
  width: 60%;
  height: auto;
  margin-right: 30px;
}
#article_accueil aside {
  width: 40%;
  height: auto;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
}
.source {
  font-style: italic;
}
#introduction p {
  font-size: 1.6em;
  text-align: justify;
  width: 100%;
  padding-right: 20px;
  text-indent: 30px;
}
@media screen and (max-width: 840px) {
  #introduction {
    flex-direction: column;
  }
  #accueil article {
    width: 100%;
  }
  #introduction aside {
    width: 100%;
  }
  #introduction p {
    padding-right: 0px;
  }

  #introduction h2 {
    font-size: 3em;
  }
  #introduction h3 {
    font-size: 1.6em;
  }
  #introduction p {
    font-size: 1.3em;
  }
}

/*----------APPARTEMENTS-----------------*/

#appartements-h1 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 5em;
  font-family: "Titre_H1", "Great_vibes", oblique;
  border-top: 2px solid black;
}
#appartements h3 {
  font-family: "Titre_H1", Arial, Helvetica, sans-serif;
  font-size: 3em;
  padding-top: 20px;
  text-align: center;
}
#appartements img {
  box-shadow: 3px 3px 5px black;
}
.petite_chambre {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.petite_chambre article {
  width: 60%;
  margin: 0;
}
.petite_chambre a {
  width: 40%;
}
.petite_chambre p {
  width: 100%;
  padding: 20px;
  font-size: 1.6em;
  text-align: justify;
}
.petite_chambre img {
  width: 100%;
  height: auto;
}
.chambre_coucher {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
.chambre_coucher article {
  width: 60%;
}
.chambre_coucher a {
  width: 40%;
}

.chambre_coucher a img {
  width: 100%;
  height: auto;
}

.chambre_coucher h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
}
.chambre_coucher p {
  width: 100%;
  padding: 40px 40px 0 40px;
  font-size: 1.6em;
  text-align: justify;
}
.chambre_pape {
  display: flex;
  width: 100%;
  padding-bottom: 70px;
  border-bottom: 2px solid black;
}
.chambre_pape article {
  width: 50%;
}
.chambre_pape a {
  width: 50%;
}
.chambre_pape img {
  width: 100%;
  height: auto;
}
.chambre_pape p {
  width: 100%;
  padding: 10px 40px;
  font-size: 1.6em;
  text-align: justify;
}

/*--------media----appartaments-------------*/

@media screen and (max-width: 840px) {
  #appartements-2 {
    font-size: 4em;
  }
  #appartements h3 {
    font-size: 2em;
    padding-bottom: 20px;
  }
  #appartements p {
    font-size: 1.3em;
    padding: 0px;
    padding-bottom: 40px;
  }
  .petite_chambre {
    flex-direction: column;
  }
  .petite_chambre article {
    width: 100%;
  }
  .petite_chambre a {
    width: 100%;
  }

  .chambre_coucher {
    flex-direction: column-reverse;
  }
  .chambre_coucher article {
    width: 100%;
  }
  .chambre_coucher a {
    width: 100%;
  }
  .chambre_coucher p {
    padding-bottom: 30px;
  }
  .chambre_pape {
    flex-direction: column;
  }
  .chambre_pape article {
    width: 100%;
  }
  .chambre_pape a {
    width: 100%;
  }
}

/*---------jardin-----------*/

#parc {
  padding-top: 80px;
}
#parc h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-image: url(assets/images-ext/lac_chateau_parallax.jpg);
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 1px 1px 4px white;
  font-family: Titre_H1;
  font-size: 3em;
  margin-bottom: 40px;
}
.porte_doree {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  border-top: 2px solid black;
  margin-top: 20px;
  border-bottom: 2px solid black;
}
#parc article {
  width: 50%;
}
#parc a {
  width: 50%;
  margin: 40px 0;
}
#parc p {
  width: 100%;
  text-align: justify;
  font-size: 1.6em;
  padding: 20px;
}
#parc img {
  width: 100%;
}
#parc h3 {
  font-family: "Titre_H1", "Great_vibes", oblique;
  text-align: center;
  font-size: 3em;
  padding: 20px;
}
.etang {
  width: 100%;
  height: auto;
  display: flex;
}
.article_lac {
  width: 50%;
  height: auto;
  margin-left: 20px;
}
.cour {
  width: 100%;
  display: flex;
  margin-top: 30px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.canal {
  display: flex;
  border-bottom: 2px solid black;
}
.parterre {
  width: 100%;
  display: flex;
  border-bottom: 2px solid black;
}
.jardin_diane {
  width: 100%;
  display: flex;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 840px) {
  .porte_doree {
    flex-direction: column;
  }
  #parc article {
    width: 100%;
  }
  #parc a {
    width: 100%;
  }
  #parc article {
    width: 100%;
  }
  .etang,
  .canal,
  .jardin_diane {
    flex-direction: column-reverse;
  }
  .cour,
  .parterre {
    flex-direction: column;
  }
  .etang article {
    margin-left: 0;
  }
  #parc p {
    font-size: 1.3em;
  }
}

/*  --------tarifs--------*/
#tarifs {
  padding-top: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
}
.container-cartes {
  width: 100%;
  height: auto;
  background: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.tarifs h3 {
  padding: 40px 0;
  font-family: "Titre_H1", "Great_vibes", oblique;
  text-align: center;
  font-size: 3em;
}

.cartes {
  width: 350px;
  box-shadow: 0 0 10px #333;
  margin: 20px;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.cartes:hover {
  box-shadow: 0 0 20px #333;
}
.cartes h4 {
  background: #ffafbf;
}
.cartes:nth-child(2) h4 {
  background: #ff708d;
}
.cartes:nth-child(3) h4 {
  background: #ff5274;
}
.cartes:nth-child(4) h4 {
  background: #ff1443;
}
.cartes h4 {
  text-align: center;
  font-size: 1.7em;
  padding: 30px 20px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  border-radius: 10px 10px 0 0;
}
.cartes li {
  display: flex;
  width: 100%;
  height: auto;

  border-top: 1px solid #aaa;
}
.price {
  display: flex;
  width: 100%;
  font-weight: 600;
  justify-content: center;
}

.cartes span {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding-left: 10px;
}

#tarifs p {
  text-indent: 0;
  width: fit-content;
  font-size: 1.1em;
  padding: 15px 0 15px 10px;
}
.cartes li:last-of-type {
  border-bottom: 1px solid rgb(175, 174, 174);
}

.cartes li:nth-child(odd) {
  background: rgb(231, 231, 231);
}
.cartes button,
#valide_panier {
  color: #333;
  display: block;
  width: 200px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 30px auto;
  line-height: 50px;
  font-size: 20px;
  border-radius: 999px;
  background: rgba(211, 211, 211, 0.493);
  box-shadow: 0px 0px 5px grey;
  border: none;
}
#valide_panier {
  background: rgba(211, 211, 211, 0.493);
}
.cartes button:hover {
  background: #24db24;
}
#valide_panier:hover {
  background: #24db24;
}
.cartes button:active {
  transform: translateY(2px);

  background: #09f609;
}
#valide_panier:active {
  transform: translateY(2px);
  background: #09f609;
}
.quantity,
.quantity_price {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.quantity {
  padding-top: 30px;
}
.h5_quantity {
  width: 100px;
  text-align: right;
  padding: 5px;
  font-size: 1.2em;
  font-weight: 400;
}
.price_card {
  display: flex;
  font-size: 1.3em;
  /* justify-content: center; */
  align-items: center;
  font-weight: 500;
  width: 65px;
  height: 35px;
  padding-left: 0;
}

.cartes_input {
  /* margin-left: 40%;
	margin-right: 40%; */
  width: 20%;
  padding: 2px 10px;
}
#quantite label,
#quantite_2 label,
#quantite_3 label,
#quantite_4 label {
  font-size: 1.2em;
  text-align: center;
  /* margin: 0 auto; */
}
#quantite_Basique,
#quantite_Classique,
#quantite_Decouvrez,
#quantite_Exeption {
  display: block;
  text-align: center;
  margin: 20px auto 0;
}

/*-----------horaires-----------*/

#horaires {
  width: 100%;
  display: flex;
  background-image: url(assets/scrrenshot/plan_chateau_large_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 1200px;
  margin: 0 auto;
}

.bg_horaires {
  width: 60%;
  height: 1200px;
}
.horaire {
  width: 40%;
  height: auto;
  margin: auto 0;
  margin-right: 12%;
  margin-bottom: 35%;
}
#horaires h2 {
  font-family: "Titre_H1", "Great_vibes", oblique;
  font-size: 4em;
  padding-bottom: 40px;
}
#horaires h3 {
  font-family: arial, sans-serif;
  font-size: 2em;
  margin-bottom: 20px;
}
#horaires p {
  font-family: arial, sans-serif;
  font-size: 1.2em;
}
/* ---media horaire---- */

@media screen and (max-width: 1200px) {
  .horaire {
    margin-right: 0;
  }
}
@media screen and (max-width: 1080px) {
  #horaires {
    flex-direction: column-reverse;
    background-image: none;
    height: 1200px;
  }
  .bg_horaires {
    width: 400px;
    height: 900px;
    background-image: url(assets/scrrenshot/plan_chateau_large_media.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 20px;
  }
  .horaire {
    height: auto;

    width: auto;
    margin-bottom: 20px;
    padding: none;
  }
}
/* ---- contact---- */

#contact {
  border-top: 2px solid black;
  padding-top: 80px;
  width: 70%;
  height: auto;
}
.contact h4 {
  text-align: center;
  font-size: 3em;
  font-family: "Titre_H1", "Great_vibes", oblique;
}
.container-form {
  width: 70%;
  margin: 0 auto;
  height: auto;
}
label {
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0.2em;
  padding-left: 5px;
  font-size: 1.4em;
}
input {
  display: inline-block;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  border-bottom: 2px solid #aaa;
  font-size: 1.2em;
  padding: 30px 10px 5px 10px;
}
.container_input_p {
  display: flex;
  width: 100%;
}

.container_p_5 {
  position: relative;
  top: 80px;
}
.container_p_4,
.container_p_5 {
  opacity: 0;
}
.p_star {
  padding-top: 20px;
  font-size: 1.2em;
}

textarea {
  margin-top: 80px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 2px solid #aaa;
  height: 200px;
  font-size: 1.6em;
}
.star,
.star_2 {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  padding-left: 10px;
  margin: 0;
}
.star_2 {
  display: inline;
  padding-left: 0;
}

.contact button {
  color: #333;
  background: #c2cfd9;
  display: block;
  width: 200px;
  height: 60px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
  margin: 30px auto;
  line-height: 60px;
  font-size: 1.6em;
  border-radius: 999px;
}
.contact button:hover {
  background: #b1c2ce;
}
.contact button:active {
  background: #8da5b8;
}

/*  footer */

footer p {
  text-align: center;
  border-top: 1px solid #333;
  padding: 15px;
  font-size: 16px;
}

/* ----------panier-------------------------- */
#main_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#panier {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.container_page_panier {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: auto;
}
#h3 {
  font-size: 3em;
  font-family: Titre_H1, sans-serif;
  text-align: center;
  margin: 30px;
}
.container_panier {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
}
#panier aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  border-radius: 0;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  background: none;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.container_article_panier {
  width: 100%;
  height: 230px;
  box-shadow: 2px 2px 5px grey;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;
  border-radius: 5px;
}
.container_article_panier img {
  position: relative;
  float: left;
  width: 140px;
  height: auto;
  box-shadow: 2px 2px 5px black;
  margin: 20px;
}
.cart_card_title {
  width: 100%;
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding-top: 25px;
}
.container_article_panier select {
  height: 30px;
}
.panier_produit {
  display: flex;
  align-items: flex-end;
  margin-right: 24px;
}

.container_article_panier span {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 700;
  padding-bottom: 2px;
}
.prix_produit {
  font-family: sans-serif;
  margin-top: 10px;
}
#corbeille_Basique,
#corbeille_Classique,
#corbeille_Decouvrez,
#corbeille_Exception {
  width: 28px;
  position: absolute;
  box-shadow: none;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
}

/* ---panier-aside--id=total-- */
#total {
  padding: 20px;
}
#total h4 {
  font-size: 1.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

#total hr {
  display: block;
  width: 100%;
  height: 1px;
  color: grey;
  margin: 0 auto;
}
.sous_total {
  display: flex;
  justify-content: space-between;
}
#total h5 {
  display: inline-block;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}
.sous_total p {
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-top: 20px;
}
.remise {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.remise img {
  width: 24px;
  height: 24px;
}

.remise p {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
}
#total a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding: 15px;
  color: #353535;
  background: rgb(173, 216, 230);
  margin-top: 20px;
  margin: 20px auto 0;
  box-shadow: 2px 2px 5px grey;
}
#total a:hover {
  background: #97cddf;
}
#total a:active {
  background-color: lightblue;
}
#total form {
  background-color: #f3f3f3;
  margin: 20px 0;
}
.remise_input {
  background: #f1f1f1;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 0;
}
.bon_reduction {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}
.bon_reduction form {
  width: 100%;
}
.bon_reduction span {
  width: 10px;
  height: auto;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: auto;
}
.payment{
  padding: 10px 0;
  background-color: #30c430df;
}
.payment:hover{
  background-color: #24db24;
}
.info_promo {
  display: flex;
  font-size: 1.2em;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  margin-top: 40px;
}
.info_promo span {
  margin-right: 10px;
}
.cartes_payments {
  margin-top: 20px;
}
.cartes_payments img {
  margin-right: 10px;
}
.cartes_payments img:nth-child(1),
.cartes_payments img:nth-child(4) {
  width: 32px;
}
.cartes_payments img:nth-child(2),
.cartes_payments img:nth-child(3),
.cartes_payments img:nth-child(5) {
  width: 34px;
}

/* media panier */

@media screen and (max-width: 980px) {
  .container_page_panier {
    flex-direction: column;
  }
  .container_panier {
    width: 100%;
  }
  #panier aside {
    width: 100%;
    margin-left: 0;
  }
}
